<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between d-flex align-self-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/urls">My URLs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create URL</a>
        </li>
      </ul>
      <!-- Login / Logout -->
      <% if(user){ %>
        <form action="/logout" method="POST" class="d-flex align-self-center gap-2" role="search">
          <a class="text-white text-dark fs-6 align-self-center mr-3">Logged in as: <%= user.email %></a>
          <button class="btn btn-outline-success align-self-center" type="submit">Logout</button>
        </form>
      <% } else{ %>
        <div class="d-flex align-self-center gap-2" role="search">
          <a href="/register" class="text-white text-primary fs-6 align-self-center mr-3">Register</a>
          <a href="/login" class="text-white text-primary fs-6 align-self-center mr-3">Login</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>